body {
    font-family: Arial, sans-serif;
    background:  #e8f5e9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 600px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #4CAF50;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.menu-item, .logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    flex: 1;
}

.menu-item img, .logout-button img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.logout-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logout-button {
    border: none;
    cursor: pointer;
}

.menu-item:hover, .logout-button:hover {
    background: #45a049;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
