/* settings-styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9; /* Light green background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #388e3c; /* Dark green for the header */
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form button {
    background-color: #66bb6a; /* Medium green for the buttons */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #388e3c; /* Dark green on hover */
}

form.deleteUser button{
    background-color: #f8204b;
}

form.deleteUser button:hover{
    background-color: #da1b41;
}

a {
    text-decoration: none;
    color: #388e3c; /* Dark green for the link */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #388e3c; /* Dark green background on hover */
    color: #ffffff; /* White text on hover */
}
