<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
</head>
<body>

<h1> Opret bruger </h1>

<form action="#" th:action="@{/create/createUser}" th:object="${createUser}" method="post">

    <p> Name: <input type="text" th:field="*{name}" required></p>

    <p> Email: <input type="email" th:field="*{email}" required></p>

    <p> Password: <input type="password" th:field="*{password}" required></p>


    <p> Sex : <input type="text" th:field="*{sex}" required></p>

    <label for="sex">Gender</label>

    <select name="text" id="sex">
        <option value="0">Male</option>
        <option value="1">Female</option>
    </select>

    <p> Birth: <input type="datetime-local" th:field="*{dateBirth}" required></p>

    <p> Height Cm: <input type="text" th:field="*{heightCm}" required></p>

    <p> WeightKg: <input type="text" th:field="*{weightKg}" required></p>

    <p> Goal: <input type="text" th:field="*{goal}" required></p>

    <label for="goal">Choose a goal:</label>

    <p> </p>

    <select name="text" id="goal">
        <option value="0">Weight gain</option>
        <option value="1">weight loss</option>
        <option value="2">Maintain weight</option>
        <option value="3">Training</option>
    </select>

    <button type="submit">Create</button>
</form>

<a href="/login">Back</a>


</body>
</html>