<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
</head>
<body>

<h1> Opret bruger </h1>

<form action="#" th:action="@{/login/createUser}" th:object="${createUser}" method="post">

    <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
    </div>

    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>
    </div>

    <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>
    </div>

    <label for="sex">Gender</label>

    <select th:field="*{sex}" id="sex">
        <option value="0">Male</option>
        <option value="1">Female</option>
    </select>

    <div class="form-group">
    <label for="dateBirth">Birth date</label>
    <input type="datetime-local" id="dateBirth" th:field="*{dateBirth}" required>
    </div>

    <div class="form-group">
    <label for="heightCm">Height(CM):</label>
    <input type="text" id="heightCm" th:field="*{heightCm}" required>
    </div>

    <div class="form-group">
    <label for="weightKg">Weight(Kg):</label>
    <input type="text" id="weightKg" th:field="*{weightKg}" required>
    </div>

    <label for="goal">Choose a goal:</label>
    <select th:field="*{goal}" id="goal">
        <option value="0">Weight gain</option>
        <option value="1">weight loss</option>
        <option value="2">Maintain weight</option>
        <option value="3">Training</option>
    </select>

    <button type="submit">Create</button>
</form>

<a href="/login">Back</a>


</body>
</html>