<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minkostplan</title>
    <link rel="stylesheet" href="/forside.css">
</head>
<body>

<div class="menu">
    <a href="/" class="page-title-container">
        <img src="/img/MinkostplanLogo.png" alt="Minkostplan Logo" class="page-title">
    </a>
    <div class="right-menu">
        <a href="/login" class="menu-item">
            <img src="/img/login.png" alt="Login Icon">
            Login
        </a>
        <a href="/login/create" class="menu-item">
            <img src="/img/create-user.png" alt="Create User Icon">
            Create User
        </a>
    </div>
</div>

<div class="hero-section">
    <div class="hero-content">
        <h1>Din billige vej til en skræddersyet kostplan</h1>
    </div>
    <div class="hero-image">
        <img src="/img/healthy-food.png" alt="Healthy Food">
    </div>
</div>

</body>
</html>
