<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/mainStyle.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Welcome, <span th:text="${userInfo.name}"></span>!</h1>
    </header>
    <main>
        <div class="menu">
            <a th:href="@{/recipes}" class="menu-item">
                <img src="/img/recipe.png" alt="Recipes Icon">
                Recipes
            </a>
            <a th:href="@{/settings}" class="menu-item">
                <img src="/img/settings.png" alt="Settings Icon">
                Settings
            </a>
            <form th:action="@{/main/logout}" method="post" class="logout-form">
                <button type="submit" class="logout-button">
                    <img src="/img/logout.png" alt="Logout Icon">
                    Logout
                </button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 MinKostPlan</p>
    </footer>
</div>
</body>
</html>
