<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Info</title>
    <link rel="stylesheet" href="/recipeInfoStyle.css">
</head>
<body>
<div class="recipe-info">
    <h1 th:text="${recipe.name}"></h1>
    <p><strong>Meal Type:</strong>
        <span th:if="${recipe.mealType == 0}" th:text="'Breakfast'"></span>
        <span th:if="${recipe.mealType == 1}" th:text="'Lunch'"></span>
        <span th:if="${recipe.mealType == 2}" th:text="'Dinner'"></span>
    </p>

    <h3>Ingredients:</h3>
    <ul>
        <li th:each="ingredient : ${adjustedIngredients}">
            <span th:text="${ingredient.key.ingredient.name}"></span>:
            <span th:text="${ingredient.value}"></span> grams
        </li>
    </ul>


    <p><strong>Method:</strong></p>
    <div class="method" th:utext="${formattedMethod}"></div>

    <p><strong>Calories:</strong> <span th:text="${recipe.calories}"></span></p>
    <p><strong>Fat:</strong> <span th:text="${recipe.fat}"></span></p>
    <p><strong>Protein:</strong> <span th:text="${recipe.protein}"></span></p>
    <p><strong>Carbohydrates:</strong> <span th:text="${recipe.carbonhydrates}"></span></p>


</div>
<a th:href="@{/recipes}" class="back-link">Back to Recipes</a>

</body>
</html>