<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="/recipesStyle.css">
    <link rel="stylesheet" href="/topMenu.css">
</head>
<body>

<div th:replace="~{topMenu :: top-menu}"></div>.

<div class="info-container">
    <p>Name: <span th:text="${userInfo.name}"></span></p>
    <p>Daily calorie intake: <span th:text="${userInfo.adjustCaloriesForGoal()}"></span></p>
</div>

<table>
    <thead>
        <tr>
            <th>   Name</th>
            <th> Meal type</th>

        </tr>
    </thead>
    <tbody>
        <tr th:each="recipe : ${recipes} ">
            <td><a th:href="@{/recipes/recipe/{id}(id=${recipe.id})}" th:text="${recipe.name}" class="table-recipe"></a></td>
            <td>
                <span th:if="${recipe.mealType == 0}" th:text="'Breakfast'"></span>
                <span th:if="${recipe.mealType == 1}" th:text="'Lunch'"></span>
                <span th:if="${recipe.mealType == 2}" th:text="'Dinner'"></span>
                <span th:if="${recipe.mealType != 0 and recipe.mealType != 1 and recipe.mealType != 2}" th:text="'Unknown'"></span>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>