<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<h1> Recipes </h1>

<table>
    <thead>
        <tr>
            <th>   Name</th>
            <th>  Calories</th>
            <th>    Protein</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="recipe : ${recipes} ">
            <td th:text = "${recipe.name}"></td>
            <td th:text = "${recipe.calories}"> </td>
            <td th:text = "${recipe.protein}"> </td>


        </tr>
    </tbody>
</table>
<a href="/main">Back</a>

</body>
</html>